*~
*.swp

/.snakemake*
scripts/.snakemake*

results/


*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!cluster_config.cetus.yaml
!run_snakemake_cetus.sh
!samples.tsv
!units.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!project_description.yaml
!report
!report/*
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/*
